
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

/*selector universal*/ 

*{
	box-sizing: border-box;
}

/* descuenta de width y height, lo sumado del padding y border*/

body{
	font-family: 'Raleway', sans-serif;
	margin: 0;

	/* margin-top: 
	margin-right:;
	margin-bottom:;
	margin-left: */

}

/*Resets*/ 

ul, ol{
	list-style: none; /*Elimina las viñetas */
	margin: 0;
	padding: 0; /*short hand */
}



figure{
	margin: 0;
}

/* tamaños
		ancho - width
		alto - height

modelo de caja - box model
	- width
	- height
	- padding
	- border
		border-style (solid - dashed - dotted - double)
		border-width 
		boder-color
	- margin
*/


.main-header{ 
	width: 1200px;
	margin: auto;
	padding: 20px 0;
 }


.logo{
	float: left;
}

 .main-nav{
 	float: right;

 }

/** Selector descendiente **/
 .main-nav li{
 	float: left;
 	margin: 8px 0 0 15px;
 }

 .cleaner{
 	clear: both;
 }

#banner{
	background: url(../images/indexbanner-bg3.jpg) center top no-repeat;
	background-size: cover;
}

.container{
	width: 1200px;
	margin: auto;
}

.banner-title{
	font-size: 50px;
	color: #fff;
	padding-top: 150px;
	margin: 0;
}
.banner-text{
	font-size: 20px;
	color: #fff;
}

.register{
	background-color: #fff;
	position: relative;
	top: 30px;
}
.register input{
	background-color: #fff;
	width: 1000px;
	height: 60px;
	font-style: 16px;
	font-family: inherit;
}

.register button{
	float: right;
	border: none;
	width: 200px;
	height: 60px;
	background-color: #06b4f2;
	color: #fff;
	font-size: 16px;
	font-family: inherit;
}

.producto{
	width: 300px;
	float: left;
	margin-top: 120px;
	text-align: center;
}

.producto h4{
	text-transform: uppercase;
	font-size: 16px;
	font-family: inherit;
}
.producto p{
	font-size: 13px;
	font-family: inherit;
	line-height: 170%;
}

.services-title{
	text-align: center;
	font-size: 28px;
	font-family: inherit;
	padding-top: 85px;
}

.services-text{
	text-align: center;
	font-size: 16px;
	font-family: inherit;
	margin-bottom: 60px;
}

.services-left{
	width: 330px;
	margin-right: 70px;
	float: left;
	text-align: right;
	margin-top: 50px;
}

.services-left img{
	float: none;
	position: relative;
	left: 60px;
	top: -110px;
}

.services-left h3{
	text-transform: uppercase;
	font-size: 16px;
	font-family: inherit; 
}

.services-center{
	width: 400px;
	float: left;
	padding-left: 50px;
	border: none;
}

.services-right{
	width: 330px;
	margin-left: 70px;
	float: right;
	margin-top: 50px;
}

.services-right img{
	float: none;
	position: relative;
	left: -60px;
	top: -110px;
}
.services-right h3{
	text-transform: uppercase;
	font-size: 16px;
	font-family: inherit;
}

#prices-banner{
	background: url(../images/pricing-bg.jpg) center top no-repeat;
	background-position: cover;
	height: 350px;
	position: relative;
	bottom: 100px;
	z-index: -1;
}

.prices-title{
	text-align: center;
	font-size: 28px;
	font-family: inherit;
	padding-top: 130px;
}

.prices-text{
	text-align: center;
	font-size: 16px;
	font-family: inherit;
	margin-bottom: 60px;
}
.tables{
	position: relative;
	bottom: 180px;
}

.tables h4{
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
	font-family: inherit;
}
.tables h2{
	text-align: center;
	font-family: Arial;
	font-size: 40px;
}

.tables p{
	text-align: center;
	font-family: inherit;
	font-size: 15px;
	color: grey;
	position: relative;
	top: -45px;
}


.divisor{
	color: gray;
	width: 200px;
	position: relative;
	top: -20px;
}

.t td{
	width: 250px;
	height: 40px;
	text-align: center;
}


.table-1{
	border: solid 1px grey;
	width: 250px;
	float: left;
	margin-right: 66px;
	background-color: #fff;
}

.table-2{
	border: solid 1px grey;
	width: 250px;
	float: left;
	margin-right: 66px;
	background-color: #fff;
}

.table-3{
	border: solid 1px grey;
	width: 250px;
	float: left;
	margin-right: 66px;
	background-color: #fff;
}
.table-4{
	border: solid 1px grey;
	width: 250px;
	float: left;
	background-color: #fff;
}

.tables a{
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
}